html,body{
	font-family: Helvetica Neue For Number, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	color:rgba(0, 0, 0, 0.85);
	background-color:#fff;
}
a{
	text-decoration: none;
	color:rgba(0, 0, 0, 0.65);
}
a:hover{
	text-decoration: none;
	/* color:rgba(0, 0, 0, 0.65); */
}
p{
	margin: 0;
}
.navbar-nav.ml-auto .nav-link{
	color: #fff;
}
/* 导航分割 */
.nav-separator{
	border-left: 1px solid #ebedee;
	line-height: 22px;
	height: 24px;
	vertical-align: middle;
	display: inline-block;
	margin-top: 20px;
}
#main-navbar{
	line-height: 48px;
}
#main-navbar .navbar-nav .nav-link{
	border-top: 2px solid transparent;
	transition: border-top-width 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
	text-align: center;
}
#main-navbar .navbar-nav .nav-link:hover{
	border-top: 2px solid #0073ab;
}
#main-navbar .navbar-nav .nav-link.active{
	border-top: 2px solid #0073ab;
	color:#0073ab;
}
#sub-model-navs{
	margin-left: 8px;
}
#sub-model-navs .nav-link{
	font-size:16px;
}
#sub-model-navs .dropdown-menu.show{
	box-shadow: 0 2px 8px rgba(0,0,0,0.15);
	border-radius: 4px;
	border: none;
}
#sub-model-navs .dropdown-item {
	padding: 5px 24px;
}
#sub-model-navs .dropdown-item .icon-container{
	display: inline-block;
	width: 24px;
	text-align: center;
}
#sub-model-navs .dropdown-item .icon-container img{
	height: 24px;
}
.react-content{
	height:100%;
	position: relative;
}
.banner{
	height:calc(100vh);
	background-image: url('../images/map.svg');
	background-color:#fff;
	background-size: cover;
	background-position: center;
	position: relative;
	width: 100%;
}
.banner .banner-ground{
	background-color:#1B1B2B;
	opacity: 0.6;
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	left: 0;
	right: 0;
	left: 0;
}
.banner .site-branding{
	width: 30%;
	height: 10% ;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top:-5%;
	margin-left:-15%;
	text-align: center;	
}
.btn-index-home{
	background-color: transparent;
    border: 1px solid white;
	color: white;
	border-radius: 25px;
}
.btn-index-home:hover{
	background-color: #fff;
	color:#314659;
}
.summary-container{
	text-align:center;
	/* height:calc(100vh*0.3); */
}
.summary-container .card>img{
	height: 30%;
	width: 30%;
}
.card-style{
	background-color: rgb(255,255,255,1);
	border: none;
	box-shadow: 0 2px 2px rgba(84, 48, 132, 0.06);
	transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1), box-shadow 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.card-style:hover{
	transform: translateY(-10px);
	box-shadow: 0 10px 10px rgba(84, 48, 132, 0.06);
}
.card-style .card-body p {
	font-size: 300;
	color: rgba(0, 0, 0, 0.65);
}
.card-style h4{
	font-size:400;
	color: rgba(0, 0, 0, 0.85);
}

/* 分栏 */
.drawer-toggle{
	display: none;
	height: 3rem;
	width: 3rem;
	position: fixed;
	left:0;
	top:67px;
	cursor: pointer;
	z-index: 10;
	background-color:#fff;
	text-align: center;
	vertical-align: middle;
	border-radius: 0 0.4rem 0.4rem 0;
	line-height: 3rem;
	box-shadow:2px 2px 8px rgba(0,0,0,0.2);
}
.drawer-open .drawer-toggle{
	left:83.33vw;
	/* transition: left 0.25s; */
}
.drawer-open-help .drawer-toggle{
	left:75vw;
	/* transition: left 0.25s; */
}
.icon{
	height: 1.5rem;
	width:1.5rem;
}
.sidebar-sticky{
	position: -webkit-sticky;
	position:sticky;
	top:0px;
}
@media only screen and (max-width: 992px){
	.sidebar-absolute {
		position: absolute;;
		top:67px;
		z-index: 10;
		background-color: #fff;
	}
	.drawer-toggle{
		display: block;
	}
	.sidebar-second-left{
		left:50vw;
	}
	.siderbar-help-height{
		height: calc(100vh - 64px);
	}
}

.sidebar-border{
	height: calc(100vh - 64px);
	border-right:1px solid rgba(0,0,0,0.1);
}
.sidebar-border-left{
	border-left:1px solid rgba(0,0,0,0.1);
}
#function-list>li>a{
	font-weight:450;
	font-size:1.2rem;
}
.arrow{
	display: inline-block;
}
.arrow.right{
	border-left:6px solid rgba(0, 0, 0, 0.65);
	border-top:4px solid transparent;
	border-bottom:4px solid transparent;
}
.arrow.down{
	border-top:6px solid rgba(0, 0, 0, 0.65);
	border-right:4px solid transparent;
	border-left:4px solid transparent;
}
#institution-list.hidden{
	display: none;
}
#institution-list.visible{
	display: block;
}
@media only screen and (min-width: 992px){
	.px-6{
		padding-left: 6rem !important;
		  padding-right:6rem !important;
	}
}

.main-content{
	overflow-y: auto;
}

article p{
	line-height: 36px;
}

.middle{
	display: table-cell;
	vertical-align: middle;
}
footer{
	height:50px;
	background-color: #343a40;
	color:#fff;
	display: table;
	width: 100%;
}
